/* Resetting Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */


/* Smooth Scrolling Behavior */
html,
body {
  scroll-behavior: smooth;
}

/* Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Class */
.ordertable {
  padding-right: 50px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Keyframes Animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0.2, 1, 0.5);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
  }
}


